/* .ant-tabs-card >  .ant-tabs-tab {
	For tabs border 
	border-color: 1px solid black;
} */

/* to change the border bottom of tabs */
.instructorTabStyle .ant-tabs-nav .ant-tabs-nav-wrap {
	border-bottom: 1px solid #dfdddc;
	border-radius: 5px;
	color: rgb(82, 82, 108);

	font-weight: 500;
}

.instructor-detail-tabs-ink-bar .ant-tabs-ink-bar {
	background: #1f53f3;
}

.instructor-detail-active-color
	.ant-tabs-tab.ant-tabs-tab-active
	.ant-tabs-tab-btn {
	color: #363636 !important;
	font-weight: 500;
}
.instructor-detail-tabs-btn .ant-tabs-tab .ant-tabs-tab-btn:hover {
	color: #363636;
}
.instructor-detail-tabs-nav-wrap .ant-tabs-nav-wrap {
	padding-top: 8px;
	padding-left: 30px;
}
.instructor-detail-tabs-tab .ant-tabs-tab {
	padding-bottom: 20px;
	font-size: 20px;
}
