@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Jost', sans-serif;
}

body {
	background-color: white;
	color: #3a3a3a;
}

.font-lato {
	font-family: 'Lato', sans-serif !important;
}
